* {
    margin: 0 5px;
    padding: 0;
}
.container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'aside section section'
    'footer footer footer';
    row-gap: 10px;
    column-gap: 20px;
    grid-auto-rows: 150px 350px 200px;
    box-sizing: border-box;
}
header{
    background-color: rgba(25, 153, 78, 0.819);
    grid-area: header;
    text-align: center;
    border-radius: 40px;
    padding-top: 50px;
}
aside{
    background-color: rgba(39, 95, 144, 0.836);
    grid-area: aside;
    text-align: center;
    border-radius: 40px;
    padding-top: 50px;
}
section{
    grid-area: section;
    background-color: rgba(167, 169, 58, 0.834);
    text-align: center;
    border-radius: 40px;
    padding-top: 50px;
}
footer{
    grid-area: footer;
    background-color: rgba(87, 5, 5, 0.801);
    text-align: center;
    border-radius: 40px;
    padding-top: 50px;
}
footer:hover{
    grid-area: footer;
    background-color: rgba(87, 5, 5, 0.801);
    text-align: center;
    border-radius: 40px;
    padding-top: 50px;
    cursor: pointer;
}
