* {
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 100px) 2fr 100px;
    row-gap: 10px;
    column-gap: 20px;
}
.itens{
    background-color: aqua;
    color: black;
}
.itens:hover{
    transform: o.5s;
    color: blue;
}